target/
local/

data/analytics/*.aan

data/static/school/gamedesign/*
!data/static/school/gamedesign/docs
!data/static/school/gamedesign/mkdocs.yml

data/static/mc/docs/*
!data/static/mc/docs/docs
!data/static/mc/docs/mkdocs.yml
