[submodule "web/static/mc/help"]
path = web/static/mc/help
url = https://github.com/Basicprogrammer10/Denali-MC-Help.git
[submodule "data/writing"]
path = data/writing
url = https://github.com/Basicprogrammer10/connorcode-writing.git
