html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}
body {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}
#title {
  text-align: center;
  font-size: 300%;
  margin-bottom: 0px;
  animation-delay: 2s;
}
#subtitle {
  text-align: center;
  margin-top: 0px;
}
div.projects {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
}
button.item {
  background: #4776E6;
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6); 
  background: linear-gradient(to right, #8E54E9, #4776E6); 
  padding: 15px;
  padding-bottom: 20px;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  border: none;
  border-radius: 3px;
  box-shadow: 10px 10px rgb(53, 53, 53);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
button.item:hover {
  background: #4776E6;
  background: -webkit-linear-gradient(to right, #8E54E9, #4776E6); 
  background: linear-gradient(to right, #8E54E9, #4776E6); 
  cursor: pointer;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
#video_pop {
  z-index: 9999;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 200%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  cursor: pointer;
  -webkit-transition: opacity 2s ease-in;
  -moz-transition: opacity 2s ease-in;
  -o-transition: opacity 2s ease-in;
  -ms-transition: opacity 2s ease-in;
  transition: opacity 2s ease-in;
}

#the_Video {
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position:fixed;
  top:50%;
  bottom:auto;
  left:50%;
  right:auto;
  overflow:hidden;
}
video{
  width: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position:fixed;
  top:50%;
  bottom:auto;
  left:50%;
  right:auto;
  overflow:hidden;

}
button.back {
  background-color: #474747;
  border: none;
  cursor: pointer;
}
footer {
  position: absolute;
  bottom: 0;
}
#fbutton {
  background: #757575;
  margin: 2px;
  padding: 7px;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 3px;
}
#fbutton:hover {
  background: #666666;
  cursor: pointer;
}
p {
  display: inline;
}
img.pre {
  display: block;
  height: 50%;

}
@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
}
