body {
  background: #474747;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#title {
  text-align: center;
  font-size: 300%;
  margin-bottom: 0px;
}

#subtitle {
  text-align: center;
  margin-top: 0px;
}

#flexnose {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.nose {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}

footer {
  position: absolute;
  bottom: 0;
}

#fbutton {
  background: #757575;
  margin: 2px;
  padding: 7px;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 3px;
}

#fbutton:hover {
  background: #666666;
  cursor: pointer;
}

p {
  display: inline;
}

img.pre {
  display: block;
  width: 400px;
}

.rainbow-text {
  background-image: linear-gradient(to left, green, orange, red);
  -webkit-background-clip: text;
  color: transparent;
}

@keyframes lightSpeedIn {
  from {
    -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
    transform: translate3d(100%, 0, 0) skewX(-30deg);
    opacity: 0;
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
