<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- #INCLUDE header -->
    <meta name="description" content="Public Files" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/assets/css/files.css" />
    <script defer src="/common/common.js"></script>
    <title>Files - {{PATH}}</title>
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to Content</a>
    <div class="content" id="main">{{FILES}}</div>
    <!-- #INCLUDE footer -->
  </body>
</html>
