<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- #INCLUDE header -->
    <meta name="description" content="My articles" />
    <link
      rel="preload"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
      as="style"
    />

    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/assets/css/writing.css" />
    <title>ConnorCode — Writing</title>
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to Content</a>

    <div class="container">
      <div class="title">
        <p>Connor Code</p>
      </div>

      <div class="nav-container">
        <div class="nav">
          <a href="/">Home</a>
          <a href="/writing" class="this">Writing</a>
          <a href="/about">About</a>
          <a
            href="https://github.com/basicprogrammer10/connorcode/"
            rel="noopener"
            target="_blank"
          >
            Source <i class="fa fa-external-link"></i>
          </a>
        </div>
      </div>

      <div class="articles" id="main">{{ARTICLES}}</div>
    </div>

    <!-- #INCLUDE footer_rss -->
  </body>
</html>
