<!DOCTYPE html>
<html lang="en">
  <head>
    {{CMP: Header("Main page for connorcode.com")}}
    <link rel="shortcut icon" type="image/png" href="/assets/SigmaLogo.png" />
    <meta name="theme-color" content="#17171a"/>
    <meta property="og:title" content="ConnorCode" />
    <meta property="og:image" content="/assets/SigmaLogo.png" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />

    <link rel="manifest" href="manifest.json" />
    <link rel="preload" href="/assets/css/index.css" as="style" />
    <link rel="preload" href="/index.js" as="script" />
    <link rel="preload" href="/assets/fonts/BasementGrotesque-Black_v1.202.woff2" as="font" />
    <link rel="preload" href="/assets/fonts/Inter-Regular.woff2" as="font" />
    <link rel="preload" href="/assets/fonts/Aileron-SemiBold.woff2" as="font" />
    <link rel="preload" href="https://api.github.com/users/basicprogrammer10" as="fetch" />
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" as="style" />
    <link rel="preconnect" href="https://api.github.com" />
    <link rel="preconnect" href="https://cdn.jsdelivr.net" />
    <link rel="prerender" href="/writing" />
    <link rel="prerender" href="/about" />

    <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"
    ></script>
    <script src="/index.js"></script>
    <script async src="/sw-loader.js"></script>
    <title>ConnorCode — Home</title>
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to Content</a>

    <div class="container">
      <div class="title">
        <p>Connor Code</p>
      </div>

      <div class="nav-container">
        <div class="nav">
          <a href="/" class="this">Home</a>
          <a href="/writing">Writing</a>
          <a href="/about">About</a>
          <a
            href="https://github.com/basicprogrammer10/connorcode/"
            rel="noopener"
            target="_blank"
          >
            Source <i class="fa fa-external-link"></i>
          </a>
        </div>
      </div>

      <div class="projects" id="main">
        {{ITEMS}}
      </div>
    </div>

    {{CMP: Footer}}
  </body>
</html>
