<!DOCTYPE html>
<html>
  <head>
    {{CMP: Header("Main page for connorcode.com")}}
    <link rel="shortcut icon" type="image/png" href="/assets/SigmaLogo.png" />
    <meta property="og:title" content="ConnorCode" />
    <meta property="og:image" content="/assets/SigmaLogo.png" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="preload" href="/assets/css/index.css" as="style" />
    <link rel="preload" href="/index.js" as="script" />
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css" />
    <script src="https://cdn.jsdelivr.net/npm/vanilla-tilt@1.7.2/dist/vanilla-tilt.min.js"></script>
    <script src="/index.js"></script>
    <title>ConnorCode — Home</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <p>Connor Code</p>
      </div>

      <div class="nav-container">
        <div class="nav">
          <a href="/" class="this">Home</a>
          <a href="/writing">Writing</a>
          <a href="/about">About</a>
          <a
            href="https://github.com/basicprogrammer10/connorcode/"
            target="_blank"
          >
            Source <i class="fa fa-external-link"></i>
          </a>
        </div>
      </div>

      <div class="projects">
        {{ITEMS}}
      </div>
    </div>

    {{CMP: Footer}}
  </body>
</html>
