<a href="{{LINK}}">
  <button class="item" id="{{ID}}">
    <div class="info">
      <div class="name">{{NAME}}</div>
      <div class="date">
        <i class="fa fa-calendar"></i>
        <p>{{DATE}}</p>
      </div>
    </div>
    <picture>
      <source type="image/webp" srcset="{{IMAGE}}.webp" />
      <source type="image/png" srcset="{{IMAGE}}" />
      <img
        src="{{IMAGE}}"
        alt="Thumbnail for {{NAME}}"
        style="aspect-ratio: {{IMAGE_ASPECT}};"
        class="pre"
      />
    </picture>
  </button>
</a>
