<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{DISC}}" />
    <meta name="keywords" content="{{TAGS}}" />
    <meta name="author" content="{{AUTHOR}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/assets/css/writing.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/atom-one-dark.css"
    />
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
    <script src="/writing/article.js"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.7.0/dist/cdn.min.js"
    ></script>
    <title>ConnorCode — Writing</title>
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to Content</a>

    <div class="container">
      <div class="title">
        <p>Connor Code</p>
      </div>

      <div class="nav-container">
        <div class="nav">
          <a href="/">Home</a>
          <a href="/writing" class="this">Writing</a>
          <a href="/about">About</a>
          <a
            href="https://github.com/basicprogrammer10/connorcode/"
            rel="noopener"
            target="_blank"
          >
            Source <i class="fa fa-external-link"></i>
          </a>
        </div>
      </div>

      <div
        class="document"
        x-data="{path: '{{PATH}}', time: {{TIME}}, views: {{VIEWS}}, likes: {{LIKES}}, liked: {{LIKED}}, date: '{{DATE}}'}"
        x-init="
        path = loadPath(path);
        time = loadTime(time);
        setLikes(likes, liked);
        initContents();
        hljs.highlightAll();"
      >
        <div class="content" id="main">
          <div class="meta">
            <div class="path" title="Article Path" x-html="path"></div>
            <div class="stats">
              <div
                class="meta-item"
                title="Views"
                x-html="`<i class='fa fa-eye'></i> ${views}`"
              ></div>
              <div
                class="meta-item"
                title="Estimated Reading Time"
                x-html="`<i class='fa fa-clock-o'></i> ${time}`"
              ></div>
              <div
                class="meta-item"
                title="Publish Date"
                x-html="`<i class='fa fa-calendar'></i> ${date}`"
              ></div>
            </div>
          </div>

          <div class="button-container">
            <div class="meta-button" contents-button>
              <div class="content" contents-button-icon>
                <i class="icon fa fa-bars"></i>
              </div>
            </div>

            <div class="meta-button" like-button>
              <div class="content" like-content></div>
            </div>
          </div>

          <div class="contents hidden" contents-dropdown></div>

          <article>{{DOCUMENT}}</article>
        </div>
      </div>
    </div>

    {{CMP: FooterRss}}
  </body>
</html>
