<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="{{DISC}}" />
    <meta name="keywords" content="{{TAGS}}" />
    <meta name="author" content="{{AUTHOR}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="index, follow" />
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/assets/css/writing.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/highlight.js@9.12.0/styles/atom-one-dark.css"
    />
    <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.4.0/build/highlight.min.js"></script>
    <script src="/writing/article.js"></script>
    <script
      defer
      src="https://unpkg.com/@alpinejs/persist@3.x.x/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.7.0/dist/cdn.min.js"
    ></script>
    <title>ConnorCode — Writing</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <p>Connor Code</p>
      </div>

      <div class="nav-container">
        <div class="nav">
          <a href="/">Home</a>
          <a href="/writing" class="this">Writing</a>
          <a href="/about">About</a>
          <a
            href="https://github.com/basicprogrammer10/connorcode/"
            rel="noopener"
            target="_blank"
          >
            Source <i class="fa fa-external-link"></i>
          </a>
        </div>
      </div>

      <div
        class="document"
        x-data="{path: '{{PATH}}', time: {{TIME}}, views: {{VIEWS}}, date: '{{DATE}}'}"
        x-init="
        path = loadPath(path);
        time = loadTime(time);
        hljs.highlightAll();"
      >
        <div class="like">
          <div class="like-content">
            <i class="icon fa fa-heart-o" style="font-weight: bold;"></i>
            <p>99</p>
          </div>
        </div>
        <div class="content">
          <div class="meta">
            <div class="path" title="Article Path" x-html="path"></div>
            <div
              class="meta-item"
              title="Publish Date"
              x-html="`<i class='fa fa-calendar'></i> ${date}`"
            ></div>
            <div
              class="meta-item"
              title="Views"
              x-html="`<i class='fa fa-eye'></i> ${views}`"
            ></div>
            <div
              class="meta-item"
              title="Estimated Reading Time"
              x-html="`<i class='fa fa-clock-o'></i> ${time}`"
            ></div>
          </div>

          {{DOCUMENT}}
        </div>
      </div>
    </div>

    {{CMP: Footer}}
  </body>
</html>
