<!DOCTYPE html>
<html lang="en">
  <head>
    {{CMP: Header("My Articles...")}}
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js" as="script" />


    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/assets/css/writing.css" />
    <title>ConnorCode — Writing</title>
  </head>
  <body>
    <a class="skip-link" href="#main">Skip to Content</a>

    <div class="container">
      <div class="title">
        <p>Connor Code</p>
      </div>

      <div class="nav-container">
        <div class="nav">
          <a href="/">Home</a>
          <a href="/writing" class="this">Writing</a>
          <a href="/about">About</a>
          <a
            href="https://github.com/basicprogrammer10/connorcode/"
            rel="noopener"
            target="_blank"
          >
            Source <i data-feather="external-link"></i>
          </a>
        </div>
      </div>

      <div class="articles" id="main">{{ARTICLES}}</div>
    </div>

    {{CMP: FooterRss}}

    <script>
      feather.replace();
    </script>
  </body>
</html>
