@use 'common';
@use 'fonts';
@use 'vars';

.container {
  display: flex;
  position: fixed;
  left: calc(50vw - 550px);
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;

  & [number] {
    font-size: 10em;
    color: white;
    background: #a1b0c6;
    border-radius: 12px;
    width: 200px;
    text-align: center;
    margin: 10px;

    & p {
      margin: 0;
    }
  }

  & [guess] p {
    filter: blur(20px);
    transition: all 0.4s;
  }

  & [correct] {
    background: #4eb947;

    & p {
      filter: blur(0px);
    }
  }
}

[score],
[high-score] {
  position: absolute;
  right: 2rem;
  top: 6rem;
  color: white;
  transform: none;
  font-size: 50px;

  &:before {
    content: "Score: ";
    font-size: 25px;
  }
}

[high-score] {
  top: 2rem;

  &:before {
    content: "High Score: ";
  }
}

[reset] {
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  top: calc(50% + 100px);
  filter: none !important;
}
