@use 'common';
@use 'index';
@use 'vars';

.container {
  margin-bottom: 36px;
}

.articles {
  background: vars.$tile-color;
  color: vars.$font-color;
  border-radius: 12px;
  padding: 24px;

  & .article {
    grid-template-columns: 25px 210px auto 90px;
    border-top: solid 1px #515e76;
    display: grid;
    background-color: #171924;
    padding: 10px;
    height: 21.25px;

    & p,
    a {
      margin: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-decoration: none;
    }

    & .fa-file-text-o {
      margin-left: 2px;
      height: fit-content;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-right: 10px;
    }

    & .name {
      color: inherit;
    }

    & .disc {
      font-weight: 200;
      margin-left: 20px;
      color: inherit;
    }

    & .date {
      text-align: right;
      color: #a1a7bb;

      & .fa {
        float: left;
      }
    }

    &:nth-child(3) {
      border-top: none;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
    }

    &:last-child {
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }

  & .loading {
    background-color: #171924;
    padding: 10px;
    height: 21.25px;
    border-radius: 12px;

    & .fa-refresh {
      font-size: 19px;
      margin-right: 5px;
    }
  }
}

.document {
  background: vars.$tile-color;
  color: vars.$font-color;
  border-radius: 12px;
  margin-bottom: 57px;
  padding: 24px;

  .like {
    height: 35px;
    background: #323546;
    width: 4rem;
    border-radius: 12px;
    right: 24px;
    cursor: pointer;
    margin-top: 8px;

    & .like-content {
      & .icon {
        font-weight: bold;
        margin-right: 3px;
      }

      & p {
        display: inline-block;
      }

      position: relative;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      width: max-content;
      left: 50%;
      color: #a1a7bb;
    }
  }

  & .content {
    @include common.center-h;
    max-width: 620px;

    & .meta {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      & .path {
        margin-right: auto;
        margin-bottom: 8px;

        & a {
          color: #a1a7bb;
          text-decoration-style: solid;
        }
      }

      & .stats {
        width: fit-content;
        height: 20px;

        & .meta-item {
          color: #a1a7bb;
          display: inline-block;
          margin-left: 5px;

          &:nth-child(1) {
            margin-left: 0;
          }
        }
      }
    }

    & li {
      color: #fffc;
    }

    & p {
      display: block;
      color: #fffc;
    }
  }
}

[id] {
  scroll-margin-top: 49px + 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-left: -1em;
  padding-left: 1em;

  &:hover .anchor:before {
    position: absolute;
    margin-left: -1em;
    text-decoration: underline;
    content: "¶";
  }
}

code {
  font-size: 14px;
}

pre code {
  display: block;
  padding: 10px;
  font-size: 14px;
}

img {
  max-width: 100%;
  border-radius: 12px;
}

hr {
  border: 0;
  border-bottom: 2px dashed #808080;
}

table {
  border-collapse: collapse;

  & td,
  & th {
    border: 1px solid #323546;
    padding: 5px;
    border-collapse: collapse;
  }

  & thead tr th {
    padding: 5px 10px 5px 10px;
  }

  & tbody {
    color: #fffc;

    & tr:nth-child(n):nth-child(even) {
      background: #3235467f;
    }
  }
}

@media (max-width: 690px) {
  .container {
    margin-top: 2.5vw;
  }

  .articles {
    @include common.center-h;
    width: 100%;

    & .article {
      grid-template-columns: 25px auto 80px;

      & .disc {
        display: none;
      }

      & .date .fa {
        display: none;
      }
    }
  }

  .document {
    @include common.center-h;
    margin-bottom: 10px;
    width: 100%;
  }
}
