<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/assets/css/out/error.css" />
    <script defer src="/common/common.js"></script>
    <title>Internal Error</title>
  </head>
  <body>
    <div class="content">
      <h1>Internal Server Error</h1>
      <p>Sorwy</p>
      <p><strong>Error:</strong> <code>{{ERROR}}</code></p>
    </div>

    <footer>
      <button id="homeButton">Home</button>
      <p>© Connor Slade || V{{VERSION}}</p>
    </footer>
  </body>
</html>
