<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/common/common.css" />
    <link rel="stylesheet" href="/assets/css/out/files.css">
    <script defer src="/common/common.js"></script>
    <title>Files - {{PATH}}</title>
  </head>
  <body>
    <div class="content">
      {{FILES}}
    </div>

    <footer>
      <button id="homeButton">Home</button>
      <p><span class="copyleft">©</span> Connor Slade || V{{VERSION}}</p>
    </footer>
  </body>
</html>
