<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/assets/css/out/error.css" />
    <script defer src="/common/common.js"></script>
    <title>Page Not Found</title>
  </head>
  <body>
    <div class="content">
      <h1>😅 Page not Found 🍞</h1>
      <p>The page <code>{{PAGE}}</code> was not found!</p>
    </div>

    <footer>
      <button id="homeButton">Home</button>
      <p>© Connor Slade || V{{VERSION}}</p>
    </footer>
  </body>
</html>
