body {
  background: #474747;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 300%;
  margin-bottom: 0px;
  animation-delay: 2s;
}

.subtitle {
  text-align: center;
  margin-top: 0px;
}

.subtitle2 {
  text-align: center;
  margin-top: 0px;
}

footer {
  background-color: #2e2e2e;
  padding: 7px;
  color: white;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-family: Arial, Helvetica, sans-serif;

  & * {
    display: inline;
    color: white;
  }
}

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

#homeButton {
  margin: 2px;
  padding: 7px;
  background-color: #757575;
  color: white;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 3px;
}

#homeButton:hover {
  cursor: pointer;
}
