@font-face {
  font-family: "Basement Grotesque";
  src: url("/assets/fonts/BasementGrotesque-Black_v1.202.woff") format("woff"),
    url("/assets/fonts/BasementGrotesque-Black_v1.202.woff2") format("woff2");
}

@font-face {
  font-family: "Aileron-SemiBold";
  src: url("/assets/fonts/Aileron-SemiBold.woff") format("woff"),
    url("/assets/fonts/Aileron-SemiBold.woff2") format("woff2");
}
