@use 'common';
@use 'index';
@use 'vars';

body {
  overflow-y: scroll;
}

// img {
//   max-width: 100%;
//   border-radius: 12px;
// }

.container {
  margin: 32px 12px 66px 12px;
  transform: translateX(calc(-50% - 12px));
}

.content {
  background: vars.$tile-color;
  color: vars.$font-color;
  font-family: Segoe UI, Roboto, sans-serif, Helvetica Neue, Arial, Noto Sans;
  border-radius: 12px;
  padding: 24px;

  & .text {
    @include common.center;
    max-width: 620px;
  }
}
