@use 'common';
@use 'index';
@use 'vars';

body {
  overflow-y: scroll;
}

.content {
  background: vars.$tile-color;
  color: vars.$font-color;
  font-family: Segoe UI, Roboto, sans-serif, Helvetica Neue, Arial, Noto Sans;
  border-radius: 12px;
  padding: 24px;

  & .text {
    @include common.center;
    width: 50%;

    & [strike] {
      text-decoration: line-through;
    }
  }
}
