@use 'common';
@use 'index';
@use 'vars';

body {
  overflow-y: scroll;
}

.container {
  margin: 32px 32px 66px 32px;
}

.content {
  background: vars.$tile-color;
  color: vars.$font-color;
  font-family: Segoe UI, Roboto, sans-serif, Helvetica Neue, Arial, Noto Sans;
  border-radius: 12px;
  padding: 24px;

  & .text {
    @include common.center;
    width: 50%;
  }
}
