/* Sigma76 On TOP */
// This Css is Very old.. Dont Judge

@use 'common';
@use 'fonts';
@use 'vars';

.container {
  max-width: 1280px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.title {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 24px;
  border-radius: 12px;
  background: vars.$tile-color;
  color: vars.$font-color;
  height: 164px;

  & p {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin: 0;
    display: block;
    font-size: 75px;
    font-family: "Basement Grotesque";
  }
}

.projects {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  line-height: 50px;
  margin-bottom: 45px;
}

.item {
  font-family: "Aileron-SemiBold";
  line-height: 50px;
  background: vars.$tile-color;
  padding: 25px;
  height: fit-content;
  color: vars.$font-color;
  font-weight: bold;
  font-size: 200%;
  border: none;
  border-radius: 12px;
  box-shadow: 3px 3px 10px vars.$tile-shadow-color;
  transition: all 0.3s;
  width: 628px;

  & .date {
    padding-bottom: 10px;
    font-size: 17px;
    color: #a1a7bb;
    float: right;
  }

  & .name {
    float: left;
  }

  &:hover {
    cursor: pointer;
  }
}

.back {
  background-color: #474747;
  border: none;
  cursor: pointer;
}

.pre {
  transition: all 0.3s;
  border-radius: 12px;
  display: block;
  width: 100%;
}

.js-tilt-glare {
  border-radius: 12px !important;
}

.copyleft {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  display: inline-block;
  transform: scale(-1, 1);
}

footer {
  filter: drop-shadow(0 -3px 3px #000000ba);
  background: vars.$tile-color;
}

#foot {
  color: vars.$font-color;
  text-decoration: none;
}

p {
  display: inline;
}

a {
  color: vars.$a-font-color;
}
