@use 'common';
@use 'fonts';
@use 'vars';

@import url("https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css");

body {
  overflow-y: scroll;
}

.container {
  max-width: 1280px;
  margin-top: 32px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
}

.title {
  width: 100%;
  border-radius: 12px 12px 0 0;
  background: vars.$tile-color;
  color: vars.$font-color;
  height: 164px;
  border: solid 1px #000;
  border-bottom: none;
  left: 50%;
  position: relative;
  transform: translateX(-50%);

  & p {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    margin: 0;
    display: block;
    font-size: 75px;
    font-family: fonts.$basement-grotesque;
  }
}

.nav-container {
  @include common.center-h;
  width: 100%;
}

.nav {
  font-family: fonts.$aileron-semibold;
  transform: translateX(-1px);
  border-radius: 0 0 12px 12px;
  background: vars.$nav-color;
  color: vars.$font-color;
  justify-content: center;
  border: solid 1px #000;
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  border-top: none;
  position: sticky;
  top: 0;
  z-index: 10;

  .fa-external-link {
    margin-left: 5px;
  }

  & .this {
    border-bottom: solid 2px #3861fb;

    &:hover {
      border-bottom: solid 2px #3861fb;
    }
  }

  & a {
    border-bottom: solid 2px vars.$nav-color;
    transition: border-bottom 0.15s;
    display: block;
    padding: 12px 24px;
    color: white;
    text-decoration: none;

    &:hover {
      border-bottom: solid 2px #6188ff;
    }
  }
}

.projects {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 25px;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  line-height: 50px;
  margin-bottom: 45px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.item {
  font-family: fonts.$aileron-semibold;
  line-height: 50px;
  background: vars.$tile-color;
  padding: 25px;
  height: fit-content;
  color: vars.$font-color;
  font-weight: bold;
  font-size: 200%;
  border: none;
  border-radius: 12px;
  box-shadow: 3px 3px 10px vars.$tile-shadow-color;
  transition: all 0.3s;
  width: 628px;

  & .info {
    padding-bottom: 10px;
    height: 50px;

    & .date {
      font-size: 17px;
      color: #a1a7bb;
      float: right;
    }

    & .name {
      float: left;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

.back {
  background-color: #474747;
  border: none;
  cursor: pointer;
}

.pre {
  transition: all 0.3s;
  border-radius: 12px;
  display: block;
  width: 100%;
}

.js-tilt-glare {
  border-radius: 12px !important;
}

.copyleft {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  display: inline-block;
  transform: scale(-1, 1);
}

footer {
  @include common.center-h;
  filter: drop-shadow(0 -3px 3px #000000ba);
  font-family: fonts.$aileron-semibold;
  background: vars.$footer-color;
  border-radius: 12px 12px 0 0;
  text-align: center;
  max-width: 1280px;
  position: fixed;
  width: 100%;
  bottom: 0;

  & #foot {
    color: vars.$font-color;
    text-decoration: none;
  }
}

p {
  display: inline;
}

a {
  color: vars.$a-font-color;
}

@media (max-width: 1280px) {
  .container {
    margin: 32px 32px 0 32px;
    transform: translateX(calc(-50% - 32px));
  }

  .projects {
    grid-template-columns: auto;
  }
}

@media (max-width: 690px) {
  .nav-container {
    width: 95vw;

    & .nav {
      width: 95vw;

      & a:last-child {
        display: none;
      }
    }
  }

  .container {
    margin-top: 2.5vw;
  }

  .title {
    width: 95vw;

    & p {
      font-size: calc(12vw - 8px);
    }
  }

  .projects {
    grid-gap: 2.5vw;
  }

  .item {
    width: 95vw;
    padding: 4vw;

    & .info {
      width: 100%;

      & .name {
        height: 50px;
        white-space: pre;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: calc(95vw - 150px);
      }

      & .fa {
        display: none;
      }
    }
  }
}
