/* Sigma76 On TOP */
// This Css is Very old.. Dont Judge

@use 'common';
@use 'vars';

.projects {
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: fit-content;
  line-height: 50px;
  margin-bottom: 45px;
}

.item {
  line-height: 50px;
  background: vars.$tile-color;
  padding: 15px;
  padding-bottom: 0px;
  height: fit-content;
  margin-bottom: 20px;
  margin-top: 20px;
  color: vars.$font-color;
  font-weight: bold;
  font-size: 200%;
  text-align: center;
  border: 0;
  border-radius: 3px;
  box-shadow: 10px 10px vars.$tile-shadow-color;
  transition: all .3s;
  overflow: hidden;
  max-width: 430px;
  max-height: 343px;
  width: 90vw;

  &:hover {
    background-color: vars.$tile-hover-color;
    cursor: pointer;
    transform: scale(1.05);
  }
}

.date {
  font-size: 75%;
}

.back {
  background-color: #474747;
  border: none;
  cursor: pointer;
}

.pre {
  transition: all .3s;
  display: block;
  width: 100%;
}

.title, .subtitle {
  color: vars.$title-font-color;
}

.copyleft {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;

  display: inline-block;
  transform: scale(-1, 1);
}

#foot {
  color: vars.$font-color;
  text-decoration: none;
}

p {
  display: inline;
}

a {
  color: vars.$a-font-color;
}
