body {
    background: #474747;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #title {
    text-align: center;
    font-size: 300%;
    margin-bottom: 0px;
  }
  #subtitle {
    text-align: center;
    margin-top: 0px;
  }
  #flexnose{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  .nose{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
  }
  div.projects {
    display: flex;
    flex-direction: column;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  button.item {
    background: #757575;
    padding: 15px;
    padding-bottom: 0px;
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    line-height: 75px;
    color: white;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
    border: none;
    border-radius: 3px;
    box-shadow: 10px 10px rgb(53, 53, 53);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    
  }
  button.item:hover {
    background-color: #666666;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
  }
  button.back {
    background-color: #474747;
    border: none;
    cursor: pointer;
  }
  footer {
    position: absolute;
    bottom: 0;
  }
  #fbutton {
    background: #757575;
    margin: 2px;
    padding: 7px;
    color: white;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 3px;
  }
  #fbutton:hover {
    background: #666666;
    cursor: pointer;
  }
  p {
    display: inline;
  }
  img.pre {
    display: block;
    width: 400px;
  }
  @keyframes lightSpeedIn {
    from {
      -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
      transform: translate3d(100%, 0, 0) skewX(-30deg);
      opacity: 0;
    }}
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
  .rainbow-text {
    background-image: linear-gradient(to left,green, orange, red);
    -webkit-background-clip: text;
    color: transparent;
  }